<div class="main">
  <div class="followUserList">
    <h5>关注</h5>
    <ul>
    <% @following.each do |following| -%>
      <li>
        <div class="mod-user followMmodUser">
          <div class="img">
            <%= link_to image_tag("usericon#{rand(12)}-72.png", :title=> h(following.name)), profile_url(following) %>                         
          </div>
          <div class="info">
            <p><%=link_to h(following.name), profile_url(following), :class=>"author" %>
              <em>随想<%= following.posts_count %>篇</em></p>
          <% if following.posts_count > 0 -%>
            <% post = following.posts.first -%>
            <p class="desc"><%= link_to raw(recognize_stamps_as_links(truncate(h(post.content.force_encoding('utf-8')), :length => 46))), post_url(post) %><small><%= standard_date_text(post.created_at) %></small></p>
          <% end -%>
          </div><br clear="all" />
        </div>
      </li>
    <% end -%>    
    </ul><br clear="all" />
    <%= will_paginate @following, :inner_window => 4 -%>          
  </div>
</div>

<div class="sidebar">
  <%= render "share/sidebar" %>
</div>
