<div class="main">
  <% @posts.each do |post| -%>
      <div class="postEntry  postlist">
        <div class="postInfo">
          <div class="datetime"><%= standard_date_text(post.created_at) %></div>
        </div>
        <div class="postDetail">
          <h2><%= link_to (raw truncate(recognize_stamps_as_links(h(post.content.force_encoding('utf-8'))), :length => 50)), post %></h2>
          <div class="postDesc">
            <%= raw truncate(recognize_stamps_as_links(h(post.content.force_encoding('utf-8'))), :length => 400) %>
          </div>
          <% count = post.children.size -%>          
          <div class="postMore">全文<%= post.content.length %>字<% if count > 0 -%>&nbsp;&nbsp;&nbsp;&nbsp;<%= count %>条评论<% end -%></div>
        </div>
      </div><br clear="all" />
  <% end -%>
  <%= will_paginate @posts, :inner_window => 4 -%>
</div>

<div class="sidebar">
  <%= render "share/sidebar" %>
</div>

