
  <div class="userInfo">
    <%=link_to image_tag("usericon0-120.png", :alt=>"Oliver Ding"), "#" %>
    <h5><%=link_to "Oliver Ding", "#" %></h5>
  </div>
            
  <div class="tagList">
    <ul>
      <li><%=link_to "# TEDGlobal", "#" %><em class="num">12</em></li>
      <li><%=link_to "# TEDtoChina", "#" %><em class="num">32</em></li>
      <li><%=link_to "# Education", "#" %><em class="num">32</em></li>
      <li><%=link_to "# Design", "#" %><em class="num">62</em></li>
      <li><%=link_to "# SocialMedia", "#" %><em class="num">79</em></li>
    </ul>
  </div>
            
  <div class="userList2">
    <h5>关注</h5>
    <ul>
      <li><%=link_to image_tag("usericon1-72.png", :alt=>"Oliver Ding"), "#" %></li>
      <li><%=link_to image_tag("usericon2-72.png", :alt=>"Oliver Ding"), "#" %></li>
      <li><%=link_to image_tag("usericon3-72.png", :alt=>"Oliver Ding"), "#" %></li>
      <li><%=link_to image_tag("usericon4-72.png", :alt=>"Oliver Ding"), "#" %></li>
      <li><%=link_to image_tag("usericon5-72.png", :alt=>"Oliver Ding"), "#" %></li>
      <li><%=link_to image_tag("usericon6-72.png", :alt=>"Oliver Ding"), "#" %></li>
      <li><%=link_to image_tag("usericon7-72.png", :alt=>"Oliver Ding"), "#" %></li>
      <li><%=link_to image_tag("usericon8-72.png", :alt=>"Oliver Ding"), "#" %></li>
      <li><%=link_to image_tag("usericon9-72.png", :alt=>"Oliver Ding"), "#" %></li>
      <li><%=link_to image_tag("usericon10-72.png", :alt=>"Oliver Ding"), "#" %></li>
      <li><%=link_to image_tag("usericon11-72.png", :alt=>"Oliver Ding"), "#" %></li>
      <li><%=link_to image_tag("usericon12-72.png", :alt=>"Oliver Ding"), "#" %></li>
    </ul><br clear="all" />
    <div class="more">全部28人&nbsp;&nbsp;更新29条</div>
  </div>
