
  <div class="userInfo">
    <%=link_to image_tag("usericon0-120.png", :alt=> h(@user.name)), profile_url(@user) %>
    <h5><%=link_to h(@user.name), profile_url(@user) %></h5>
    <% if user_signed_in? && current_user != @user -%>
      <div id="follow">
      	<% if current_user.following?(@user) -%>
          <%= link_to "取消关注", unfollow_url(@user), :method => :delete, :remote => true -%>
      	<% else -%>
          <%= link_to "关注", follow_url(@user), :method => :post, :remote => true -%>
      	<% end -%>
      </div>
    <% end -%>
  </div>
            
  <div class="tagList">
    <ul>     
    <% @tags.each do |tag| -%>
      <li>
        <%= link_to_unless_current("##{h tag.name}", tag_url(tag)) do
          ("<span class='cur'>##{h tag.name}</span>").html_safe
        end %>
        <em class="num"><%= tag.weight %></em>
      </li>
    <% end -%>
    </ul>
  </div>

<% if @following.size > 0 -%>
  <div class="userList2">
    <h5>关注</h5>
    <ul>
      <% @following.each do |following| -%>
        <li><%= link_to image_tag("usericon#{rand(12)}-72.png", :title=> h(following.name)), profile_url(following) %></li>
      <% end -%>
    </ul><br clear="all" />
    <div class="more">全部<%= @following.size %>人&nbsp;&nbsp;更新29条</div>
  </div>
<% end -%>
