
  <div class="userInfo">
    <%=link_to image_tag("usericon0-120.png", :alt=>"Oliver Ding"), posts_url %>
    <h5><%=link_to "Oliver Ding", posts_url %></h5>
  </div>
            
  <div class="tagList">
    <ul>
      <li>
        <%= link_to_unless_current("# TEDGlobal", tags_url) do
          "<span class="cur"># TEDGlobal</span>"
        end %>
        <em class="num">12</em>
      </li>
      <li>
        <%= link_to_unless_current("# TEDtoChina", tags_url) do
          "<span class="cur"># TEDtoChina</span>"
        end %>
        <em class="num">32</em>
      </li>
      <li>
        <%= link_to_unless_current("# Education", tags_url) do
          "<span class="cur"># Education</span>"
        end %>
        <em class="num">12</em>
      </li>
      <li>
        <%= link_to_unless_current("# Design", tags_url) do
          "<span class="cur"># Design</span>"
        end %>
        <em class="num">82</em>
      </li>
      <li>
        <%= link_to_unless_current("# SocialMedia", tags_url) do
          "<span class="cur"># SocialMedia</span>"
        end %>
        <em class="num">32</em>
      </li>
    </ul>
  </div>
            
  <div class="userList2">
    <h5>关注</h5>
    <ul>
      <li><%=link_to image_tag("usericon1-72.png", :alt=>"Oliver Ding"), posts_url %></li>
      <li><%=link_to image_tag("usericon2-72.png", :alt=>"Oliver Ding"), posts_url %></li>
      <li><%=link_to image_tag("usericon3-72.png", :alt=>"Oliver Ding"), posts_url %></li>
      <li><%=link_to image_tag("usericon4-72.png", :alt=>"Oliver Ding"), posts_url %></li>
      <li><%=link_to image_tag("usericon5-72.png", :alt=>"Oliver Ding"), posts_url %></li>
      <li><%=link_to image_tag("usericon6-72.png", :alt=>"Oliver Ding"), posts_url %></li>
      <li><%=link_to image_tag("usericon7-72.png", :alt=>"Oliver Ding"), posts_url %></li>
      <li><%=link_to image_tag("usericon8-72.png", :alt=>"Oliver Ding"), posts_url %></li>
      <li><%=link_to image_tag("usericon9-72.png", :alt=>"Oliver Ding"), posts_url %></li>
      <li><%=link_to image_tag("usericon10-72.png", :alt=>"Oliver Ding"), posts_url %></li>
      <li><%=link_to image_tag("usericon11-72.png", :alt=>"Oliver Ding"), posts_url %></li>
      <li><%=link_to image_tag("usericon12-72.png", :alt=>"Oliver Ding"), posts_url %></li>
    </ul><br clear="all" />
    <div class="more">全部28人&nbsp;&nbsp;更新29条</div>
  </div>
