<h1>即景</h1>
<div class="header">
  <%= link_to image_tag("logo.gif"), home_url, :class=>"logo" %>
  <h2 class="sligon">随时想，随时记</h2>       
  <div class="links loginInfo">
    <%= link_to image_tag("ljj_write.gif"), new_post_path, :class=>"jj-write" %>
    <% if user_signed_in? -%>
      <%= link_to h(current_user.name), profile_url(current_user), :class=>"borderl0" %>
      <%= link_to "发现", explore_url %>
      <%= link_to "退出", logout_url %>
    <% else -%>
      <%= link_to "注册", signup_url, :class=>"borderl0" %>
      <%= link_to "发现", explore_url %>
      <%= link_to "登录", login_url %>
    <% end -%>
  </div>
</div>
