<div class="tagsTotal">
  <h2>#<%=h @tag.name %></h2>
  <% if user_signed_in? -%>
    <p class="cur"><%=link_to "Oliver Ding（12篇）", posts_url %></p>
    <p>其他人（25篇）</p>
  <% else -%>
    <p>共（25篇）</p>
  <% end -%>
  <br clear="all" />
</div>

<div class="main">
  <% @posts.each do |post| -%>
      <div class="postEntry postlist">
        <div class="postInfo">
          <div class="datetime"><%= standard_date_text(post.created_at) %></div>
        </div>
        <div class="postDetail">
          <h3><%= link_to (raw truncate(recognize_stamps_as_links(h(post.content.force_encoding('utf-8'))), :length => 50)), post %></h3>
          <div class="postDesc">
            <%= raw truncate(recognize_stamps_as_links(h(post.content.force_encoding('utf-8'))), :length => 200) %>                      
          </div>
          <% count = post.children.size -%>          
          <div class="postMore">全文<%= post.content.length %>字<% if count > 0 -%>&nbsp;&nbsp;&nbsp;&nbsp;<%= count %>条评论<% end -%></div>
        </div><br clear="all" />
      </div>
  <% end -%>
  <%= will_paginate @posts, :inner_window => 4 -%>
</div>

<div class="sidebar">
  <% if user_signed_in? -%>
    <%= render "share/sidebar" %>
  <% else %>
    <div class="tagList">
      <h5>相关标签</h5>
      <ul>
        <li><%=link_to "# TEDGlobal", tags_url %><em class="num">12</em></li>
        <li><%=link_to "# TEDtoChina", tags_url %><em class="num">32</em></li>
        <li><%=link_to "# Education", tags_url %><em class="num">32</em></li>
        <li><%=link_to "# Design", tags_url %><em class="num">62</em></li>
        <li><%=link_to "# SocialMedia", tags_url %><em class="num">79</em></li>
      </ul>
    </div>
            
    <div class="userList2">
      <h5>相关用户</h5>
      <ul>
        <li><%=link_to image_tag("usericon1-72.png", :alt=>"Oliver Ding"), posts_url %></li>
        <li><%=link_to image_tag("usericon2-72.png", :alt=>"Oliver Ding"), posts_url %></li>
        <li><%=link_to image_tag("usericon3-72.png", :alt=>"Oliver Ding"), posts_url %></li>
        <li><%=link_to image_tag("usericon4-72.png", :alt=>"Oliver Ding"), posts_url %></li>
        <li><%=link_to image_tag("usericon5-72.png", :alt=>"Oliver Ding"), posts_url %></li>
        <li><%=link_to image_tag("usericon6-72.png", :alt=>"Oliver Ding"), posts_url %></li>
        <li><%=link_to image_tag("usericon7-72.png", :alt=>"Oliver Ding"), posts_url %></li>
        <li><%=link_to image_tag("usericon8-72.png", :alt=>"Oliver Ding"), posts_url %></li>
        <li><%=link_to image_tag("usericon9-72.png", :alt=>"Oliver Ding"), posts_url %></li>
        <li><%=link_to image_tag("usericon10-72.png", :alt=>"Oliver Ding"), posts_url %></li>
        <li><%=link_to image_tag("usericon11-72.png", :alt=>"Oliver Ding"), posts_url %></li>
        <li><%=link_to image_tag("usericon12-72.png", :alt=>"Oliver Ding"), posts_url %></li>
      </ul><br clear="all" />
    </div>
  <% end %>
</div>


