<div class="userPage">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <table class="userTable">
      <tbody>
        <tr>
          <td class="coll">用户名或邮箱：</td>
          <td class="colr"><%= f.email_field :email, :class=>"user-txt" %></td>
        </tr>
        <tr>
          <td class="coll">密码：</td>
          <td class="colr"><%= f.password_field :password, :class=>"user-txt" %></td>
        </tr>
        <tr>
          <td class="coll">&nbsp;</td>
          <td class="colr">
            <div class="links"><span class="cur borderl0"><%= f.check_box :remember_me, :class=>"user-check" %>下次自动登录</span>
              <%=link_to "忘记密码", "#" %>
            </div><br clear="all" />
            <%= f.submit "登录", "", :class=>"login-btn" %>                
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
