<div class="searchBar">
  <div class="sText"><input type="text" /></div>
  <input type="submit" class="sBtn" />
</div>

<div class="searchTag">
  <a id="hot_tag" href="#" onclick="document.getElementById('hot_tag_c').style.display='block';document.getElementById('hot_tag').style.display='none';document.getElementById('hot_user_c').style.display='none';document.getElementById('hot_user').style.display='block';">热门标签</a>
  <span id="hot_tag_c" class="cur" style="display:none" onclick="document.getElementById('hot_tag_c').style.display='none';document.getElementById('hot_tag').style.display='none';">热门标签X</span>
  <span class="space">|</span>
  <a id="hot_user" href="#" onclick="document.getElementById('hot_user_c').style.display='block';document.getElementById('hot_user').style.display='none';document.getElementById('hot_tag_c').style.display='none';document.getElementById('hot_tag').style.display='block';">人气用户</a>
  <span id="hot_user_c" class="cur" style="display:none" onclick="document.getElementById('hot_user_c').style.display='none';document.getElementById('hot_user').style.display='none';">人气用户X</span><br clear='all' />
</div>

<div class="main">
  <% @posts.group_by{ |s| s.created_at.strftime("%Y/%m/%d") }.each do |date, posts_by_date| -%>
    <% posts_by_date.each do |post| -%>
      <div class="postEntry  postlist">
        <div class="postInfo">
          <div class="datetime"><%= date %></div>
        </div>
        <div class="postDetail">
          <h2><%= link_to raw(recognize_stamps_as_links(truncate(h(post.content.force_encoding('utf-8')), {:length => 46, :omission => ''}))), post_url(post) %></h2>
          <div class="postDesc">
            <%= raw truncate(recognize_stamps_as_links(string_from(h(post.content.force_encoding('utf-8')), :length => 46, :omission => '')), :length => 320, :separator => ' ' || ',' || '，') %>
          </div>
          <% count = post.children.size -%>          
          <div class="postMore">全文<%= post.content.length %>字<% if count > 0 -%>&nbsp;&nbsp;&nbsp;&nbsp;<%= count %>条评论<% end -%></div>
        </div>
      </div><br clear="all" />
    <% end -%>
  <% end -%>
  <%= will_paginate @posts, :inner_window => 4 -%>
</div>

<div class="sidebar">
  <%= render "share/hot_tags" %>
</div>
