<div class="main">
  <div class="followUserList">
    <h5>关注</h5>
    <ul>
      <li>
        <div class="mod-user followMmodUser">
          <div class="img">
            <%=link_to image_tag("usericon1-72.jpg", :alt=>"AlexChen"), posts_url %>                          
          </div>
          <div class="info">
            <p><%=link_to "AlexChen", posts_url, :class=>"author" %>
              <em>随想224篇</em></p>
            <p class="desc">我们对开放式平台这种商业模型的讨论可以归纳为以下三点：第一、所有最新科技
的应用都讲经历一段早期的不景气的讨论可以归纳为以下三第一......<small>22/12/12</small></p>
          </div><br clear="all" />
        </div>
      </li>
      <li>
        <div class="mod-user followMmodUser">
          <div class="img">
            <%=link_to image_tag("usericon2-72.png", :alt=>"安柏都"), posts_url %>                          
          </div>
          <div class="info">
            <p><%=link_to "安柏都", posts_url, :class=>"author" %>
              <em>随想224篇</em></p>
            <p class="desc">我们对开放式平台这种商业模型的讨论可以归纳为以下三点：第一、所有最新科技
的应用都讲经历一段早期的不景气的讨论可以归纳为以下三第一......<small>22/12/12</small></p>
          </div><br clear="all" />
        </div>
      </li>
      <li>
        <div class="mod-user followMmodUser">
          <div class="img">
            <%=link_to image_tag("usericon3-72.png", :alt=>"蔡蕾"), posts_url %>                          
          </div>
          <div class="info">
            <p><%=link_to "蔡蕾", posts_url, :class=>"author" %>
              <em>随想224篇</em></p>
            <p class="desc">我们对开放式平台这种商业模型的讨论可以归纳为以下三点：第一、所有最新科技
的应用都讲经历一段早期的不景气的讨论可以归纳为以下三第一......<small>22/12/12</small></p>
          </div><br clear="all" />
        </div>
      </li>
      <li>
        <div class="mod-user followMmodUser">
          <div class="img">
            <%=link_to image_tag("usericon4-72.png", :alt=>"陈婉"), posts_url %>                          
          </div>
          <div class="info">
            <p><%=link_to "陈婉", posts_url, :class=>"author" %>
              <em>随想224篇</em></p>
            <p class="desc">我们对开放式平台这种商业模型的讨论可以归纳为以下三点：第一、所有最新科技
的应用都讲经历一段早期的不景气的讨论可以归纳为以下三第一......<small>22/12/12</small></p>
          </div><br clear="all" />
        </div>
      </li>
      <li>
        <div class="mod-user followMmodUser">
          <div class="img">
            <%=link_to image_tag("usericon5-72.png", :alt=>"陈远航"), posts_url %>                          
          </div>
          <div class="info">
            <p><%=link_to "陈远航", posts_url, :class=>"author" %>
              <em>随想224篇</em></p>
            <p class="desc">我们对开放式平台这种商业模型的讨论可以归纳为以下三点：第一、所有最新科技
的应用都讲经历一段早期的不景气的讨论可以归纳为以下三第一......<small>22/12/12</small></p>
          </div><br clear="all" />
        </div>
      </li>
      <li>
        <div class="mod-user followMmodUser">
          <div class="img">
            <%=link_to image_tag("usericon6-72.png", :alt=>"何小雅"), posts_url %>                          
          </div>
          <div class="info">
            <p><%=link_to "何小雅", posts_url, :class=>"author" %>
              <em>随想224篇</em></p>
            <p class="desc">我们对开放式平台这种商业模型的讨论可以归纳为以下三点：第一、所有最新科技
的应用都讲经历一段早期的不景气的讨论可以归纳为以下三第一......<small>22/12/12</small></p>
          </div><br clear="all" />
        </div>
      </li>
      <li>
        <div class="mod-user followMmodUser">
          <div class="img">
            <%=link_to image_tag("usericon7-72.png", :alt=>"黄安迪"), posts_url %>                          
          </div>
          <div class="info">
            <p><%=link_to "黄安迪", posts_url, :class=>"author" %>
              <em>随想224篇</em></p>
            <p class="desc">我们对开放式平台这种商业模型的讨论可以归纳为以下三点：第一、所有最新科技
的应用都讲经历一段早期的不景气的讨论可以归纳为以下三第一......<small>22/12/12</small></p>
          </div><br clear="all" />
        </div>
      </li>
      <li>
        <div class="mod-user followMmodUser">
          <div class="img">
            <%=link_to image_tag("usericon8-72.png", :alt=>"黄小油"), posts_url %>                          
          </div>
          <div class="info">
            <p><%=link_to "黄小油", posts_url, :class=>"author" %>
              <em>随想224篇</em></p>
            <p class="desc">我们对开放式平台这种商业模型的讨论可以归纳为以下三点：第一、所有最新科技
的应用都讲经历一段早期的不景气的讨论可以归纳为以下三第一......<small>22/12/12</small></p>
          </div><br clear="all" />
        </div>
      </li>
      <li>
        <div class="mod-user followMmodUser">
          <div class="img">
            <%=link_to image_tag("usericon9-72.png", :alt=>"李梦梦"), posts_url %>                          
          </div>
          <div class="info">
            <p><%=link_to "李梦梦", posts_url, :class=>"author" %>
              <em>随想224篇</em></p>
            <p class="desc">我们对开放式平台这种商业模型的讨论可以归纳为以下三点：第一、所有最新科技
的应用都讲经历一段早期的不景气的讨论可以归纳为以下三第一......<small>22/12/12</small></p>
          </div><br clear="all" />
        </div>
      </li>
      <li>
        <div class="mod-user followMmodUser">
          <div class="img">
            <%=link_to image_tag("usericon10-72.png", :alt=>"麦夕林"), posts_url %>                          
          </div>
          <div class="info">
            <p><%=link_to "麦夕林", posts_url, :class=>"author" %>
              <em>随想224篇</em></p>
            <p class="desc">我们对开放式平台这种商业模型的讨论可以归纳为以下三点：第一、所有最新科技
的应用都讲经历一段早期的不景气的讨论可以归纳为以下三第一......<small>22/12/12</small></p>
          </div><br clear="all" />
        </div>
      </li>
      <li>
        <div class="mod-user followMmodUser">
          <div class="img">
            <%=link_to image_tag("usericon11-72.png", :alt=>"张小陌"), posts_url %>                          
          </div>
          <div class="info">
            <p><%=link_to "张小陌", posts_url, :class=>"author" %>
              <em>随想224篇</em></p>
            <p class="desc">我们对开放式平台这种商业模型的讨论可以归纳为以下三点：第一、所有最新科技
的应用都讲经历一段早期的不景气的讨论可以归纳为以下三第一......<small>22/12/12</small></p>
          </div><br clear="all" />
        </div>
      </li>
      <li>
        <div class="mod-user followMmodUser">
          <div class="img">
            <%=link_to image_tag("usericon12-72.png", :alt=>"张小陌"), posts_url %>                          
          </div>
          <div class="info">
            <p><%=link_to "张小陌", posts_url, :class=>"author" %>
              <em>随想224篇</em></p>
            <p class="desc">我们对开放式平台这种商业模型的讨论可以归纳为以下三点：第一、所有最新科技
的应用都讲经历一段早期的不景气的讨论可以归纳为以下三第一......<small>22/12/12</small></p>
          </div><br clear="all" />
        </div>
      </li>
    </ul><br clear="all" />                
  </div>
</div>

<div class="sidebar">
  <%= render "share/sidebar" %>
</div>
