<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   
        <div class="pEditText"><%= f.text_area :content %></div>

        <div class="submits">
          <%= f.submit :class=>"pSave" %>
          <%= link_to "取消", @post :class=>"pCancel" %>
         </div>

<% end %>



