
  <div class="main">
    <div class="postEntry">
      <div class="postInfo">
        <div class="datetime"><%= standard_date_text(@post.created_at) %></div>
        <div id="post_actions" class="tools">
          <%= link_to '编辑', edit_post_path(@post), :onclick=>"document.getElementById('post_edit_form').style.display='block';document.getElementById('post_detail').style.display='none';document.getElementById('post_actions').style.display='none';" %>
          <span class="space">|</span>
          <%= link_to '删除', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div><!-- end info -->
      <div id="post_detail" class="postDetail">
        <h2><%= raw(recognize_stamps_as_links(truncate(h(@post.content.force_encoding('utf-8')), {:length => 46, :omission => ''}), :user => @post.user)) %></h2>
        <div class="postDesc">
          <%= simple_format(raw(recognize_stamps_as_links(string_from(h(@post.content.force_encoding('utf-8')), :length => 46, :omission => ''), :user => @post.user)), {}, :sanitize => false) %>
        </div>
      </div>
   </div>

    <div class="mod postMod">
      <div class="mod-title">灵感链接</div>
      <div class="mod-detail mrginb42">
        <h5><%= link_to h(truncate(@post.shadow.title, :length => 50)), @post.shadow.web_url, :target=>"_bliank" %></h5>
        <p><%=h @post.shadow.description %></p>
        <p><%= link_to @post.shadow.web_url, @post.shadow.web_url, :class=>"web", :target=>"_bliank" %></p>
      </div>

      <div class="mod-title">留言（<%= @children.size %>)条</div>

      <% @children.each do |post| %>
        <div class="mod-detail messageInfo">
          <div class="mod-user">
            <div class="img">
              <%=link_to image_tag("usericon#{rand(12)}-42.png", :title => h(post.user.name)), profile_url(post.user) %>                           
            </div>
            <div class="info">
              <%=link_to h(post.user.name), profile_url(post.user), :class=>"author" %> 
              <span class="datetime"><%= standard_date_text(post.created_at) %></span>
            </div><br clear="all" />
          </div>
          <p><%= simple_format(raw(recognize_stamps_as_links(h(post.content))), {}, :sanitize => false) %> </p>
        </div>
      <% end %>
    </div>

    <div class="commentBox">
      <%= form_for(Post.new) do |f| %>
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
            <ul>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.hidden_field :link_url, {:value => post_url(@post)} %>
        <%= f.hidden_field :parent_id, {:value => @post.id} %>
        <div class="cText"><%= f.text_area :content %></div>
        <div class="tips">一则留言同时发布在你的主页作为一则随想</div>
        <%= f.submit "完成", :class=>"done" %>
        <br clear="all" />
      <% end %>
    </div>
  </div>

  <div class="sidebar">
    <%= render "share/sidebar" %>
  </div>
  


