
  <div class="main">
    <div class="postEntry">
      <div class="postInfo">
        <div class="datetime"><%= standard_date_text(@post.created_at) %></div>
        <div id="post_actions" class="tools">
          <%= link_to '编辑', edit_post_path(@post), :onclick>="document.getElementById('post_edit_form').style.display='block';document.getElementById('post_detail').style.display='none';document.getElementById('post_actions').style.display='none';" %>
          <span class="space">|</span>
          <%= link_to '删除', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      <div id="post_detail" class="postDetail">
        <h2>现实世界的演示文档 v.s. 虚拟世界的演示文档</h2>
        <div class="postDesc">
          <%= simple_format(raw(recognize_stamps_as_links(h(@post.content))), {}, :sanitize => false) %>
        </div>
      </div>
      <div id="post_edit_form" class="postEditForm" style="display:none;">
        <div class="pEditText"><textarea>1992年创办新范式（New Paradigm）智库 ，不断地写书，追踪最新网络技术对商业，教育，科研等社会各方面的影响。他在这次TEDGlobal上说社会化媒体已经进化到社会化生产。
                    
没有任何一个国家能承受教育质量窳劣和社会不平等加深的后果。那么许多人都会问："到底是要教育质量优良和社会不平等好，还是要教育质量平庸和社会平等好呢？" 安德烈亚斯·施莱克尔在#TEDGlobal 2012 谈用数据来构建更好的教育体系 http://t.cn/zWyjzSZ时留言给自己...

《维基经济学》的结论源自900万美元的研究项目，素有"数字经济之父"美誉的新经济学家唐·泰普斯科特向我们展示了个体力量的上升是如何改变商业社会的传统规则，这种利用大规模协作生产产品和提供服务的新方式，正颠覆我们对于传统知识创造模式的认识。</textarea></div>
        <div class="submits">
          <input type="submit" value="保存" class="pSave" onclick="document.getElementById('post_edit_form').style.display='none';document.getElementById('post_detail').style.display='block';document.getElementById('post_actions').style.display='block';" />
          <input type="submit" value="取消" class="pCancel"onclick="document.getElementById('post_edit_form').style.display='none';document.getElementById('post_detail').style.display='block';document.getElementById('post_actions').style.display='block';" />
        </div>
      </div>
   </div>

    <div class="mod postMod">
      <div class="mod-title">灵感链接</div>
      <div class="mod-detail mrginb42">
        <h5><%= link_to '《维基经济学》（豆瓣）', "http://book.douban.com/subject/2265341/", :target=>"_bliank" %></h5>
        <p>维基经济学的得名，缘于维基百科全书网站的巨大成功，他向世界证明：如果有一种方
                    	法充分利用组织里每一个人的智慧，它的能量将无比惊人！维基经济学所揭示的四个新法则：
                        开放、对等、共享以及全球运作，正在取代一些旧的商业心教条。</p>
        <p><%= link_to '《http://book.douban.com/subject/2265341/', "http://book.douban.com/subject/2265341/", :class=>"web", :target=>"_bliank" %></p>
      </div>

      <div class="mod-title">留言（<%= @children.size %>)条）</div>
      <div class="mod-detail messageInfo">
        <div class="mod-user">
          <div class="img">
            <%=link_to image_tag("usericon10-42.png", :alt=>"麦夕林"), posts_url %>                           
          </div>
          <div class="info">
            <%=link_to "麦夕林", posts_url, :class=>"author" %> 
            <span class="datetime">23/12/2012</span>
          </div><br clear="all" />
        </div>
        <p>新网络也帮助把科学界转变为一个逐渐开放和协作的网络，特点如下： 最有技术和标准
                    	的快速传播； 新技术的融合和重组的刺激； 最新的专业技术和有效的研究工具的可获
                        得性； 更加快捷的产学研网络，使公共知识到私人企业的积极反馈更加迅速； 越来
                        越多广泛和分散的研究和创新模式，包括科学知识、工具、网络的更加开放。</p>
      </div>

      <div class="mod-detail messageInfo">
        <div class="mod-user">
          <div class="img">
            <%=link_to image_tag("usericon7-42.png", :alt=>"黄安迪"), "posts_url %>                           
          </div>
          <div class="info">
            <%=link_to "黄安迪", posts_url, :class=>"author" %> 
            <span class="datetime">
              <%= standard_date_text(@post.created_at) %>
            </span>
          </div><br clear="all" />
        </div>
        <p>我们对开放式平台这种商业模型的讨论可以归纳为以下三点：第一、所有最新
                    	科技的应用都讲经历一段早期的不景气，随后真正可行的商业模型才会出现；
                        第二、极端的权力下放以及开放政策将建立一种真正可行的商业模式，这
                        种成功接近正常的参数范围与奖励革新，并同时避免破坏那些促成创新系统
                        的特征；第三、只有在全体股东确保为用户提供丰厚奖励的前提下，才能确
                        保平台参与的可行性开放。 </p>
      </div>

      <% @children.each do |post| %>
        <div class="mod-detail messageInfo">
          <div class="mod-user">
            <div class="img">
              <%=link_to image_tag("usericon7-42.png", :alt=>"黄安迪"), posts_url %>                           
            </div>
            <div class="info">
              <%=link_to "黄安迪", posts_url, :class=>"author" %> 
              <span class="datetime">23/12/2012</span>
            </div><br clear="all" />
          </div>
          <p><%= link_to (raw truncate(recognize_stamps_as_links(h(post.content.force_encoding('utf-8'))), :length => 200)), post %> </p>
        </div>
      <% end %>
    </div>

    <div class="commentBox">
      <%= form_for(Post.new) do |f| %>
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.hidden_field :link_url, {:value => post_url(@post)} %>
        <%= f.hidden_field :parent_id, {:value => @post.id} %>
        <div class="cText"><%= f.text_area :content %></div>
        <div class="tips">一则留言同时发布在你的主页作为一则随想</div>
        <%= f.submit "完成", :class=>"done" %>
        <br clear="all" />
      <% end %>
    </div>

  </div>
  <div class="sidebar">
    <%= render "share/sidebar" %>
  </div>
  


