<!DOCTYPE html>
<html>
<head>
  <title>Jijing</title>
  <%= stylesheet_link_tag    "site", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrap">
  <%= render "share/top" -%>

  <div class="content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <br clear="all" />
  </div>

  <%= render "share/bottom" -%>
</div>
</body>
</html>
